body {
}

.title {
    height: 50px;
}

.container {
    width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
}

.video_feed {
    width: 800px;
    float: left;
}

.filter_display {
    width: 400px;
    height: 450px;
    float: left;
    overflow: scroll;
    background-color: #c3d7f7;
}

.clear {
    clear: both;
}

.filter_control {
    background-color: #b5cef5;
    height: 100px;
}