body {
}

.title {
    height: 50px;
}

.container {
    width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 50px;
}

.video_feed {
    width: 800px;
    float: left;
}

.filter_display {
    font-size: 20px;
    width: 400px;
    height: 450px;
    float: right;
    overflow: scroll;
}

.clear {
    clear: both;
}

.filter_control {
    background-color: gray;
    border-style: solid;
    height: 100px;
}